<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore>
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
          <environmentVariable name="http_proxy" value="http://proxy-01.aw02.pbodia.com:3128"/>
          <environmentVariable name="https_proxy" value="http://proxy-01.aw02.pbodia.com:3128"/>
          <environmentVariable name="no_proxy" value="localhost,.pbodia.com"/>
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
